/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


@font-face {
  font-family: 'Union-Bold';
  src: local('Union Bold'), local('Union-Bold'),
      url('/assets/Fonts/Union-Bold.woff2') format('woff2'),
      url('/assets/Fonts/Union-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'StolzlDisplay-Medium';
  src: local('Stolzl Display Medium'), local('StolzlDisplay-Medium'),
      url('/assets/Fonts/StolzlDisplay-Medium.woff2') format('woff2'),
      url('/assets/Fonts/StolzlDisplay-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/*main*/
.board {
  display: flex;
  flex-wrap: wrap;
 }
 
.board__button {
  width: 25%;
  height: 25vh;
  background: black;
  border: 1px solid orangered;
  box-sizing: border-box;
}

.board__button--z-index{
  z-index: 50;
}

.gameOver{
    Position: fixed;
    background: #ff5000;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Union-Bold';
    font-size: 40vh;
    line-height: 32vh;   
    letter-spacing: 0.1vw; 
    z-index: 100;
}
.win{
  Position: fixed;
  background: #ff5000;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Union-Bold';
  font-size: 35vh;
  line-height: 30vh;   
  letter-spacing: 0.1vw; 
  z-index: 90;
}
.scoreCounter{
  Position: fixed;
  background: #ff5000;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Union-Bold';
  font-size: 90vh;
  line-height: 30vh;   
  letter-spacing: 0.1vw; 
  z-index: 90;
  color: black;
}

.hide{
    display: none!important;
}

/*neon1*/
.board__neon___button {    
    /* -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
    -moz-animation: neon2 1.5s ease-in-out infinite alternate;*/
    animation: neon2 1.5s ease-in-out infinite alternate; 
    background-color: rgba(255,255,255,1);
    border: none;
}

.board__neon___button--dos {    
    /* -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
    -moz-animation: neon2 1.5s ease-in-out infinite alternate;*/
    animation: neon3 1.5s ease-in-out infinite alternate; 
    background-color: rgb(255,69,0);
    border: none;
}

.score{
    position: fixed;
    display: flex;
    top: 15px;
    right: 15px;   
    width: 200px;
    height: 100px;
    font-family: 'Union-Bold';
    color: rgba(255, 255, 200, 0.8);
    font-size: 2rem;
    
}
.score h2{ 
  width: 40%;
  font-family: 'Union-Bold';
  color:rgba(255, 255, 200, 0.8);
  font-size: 2rem;

}
.score score__number{  
  width: 40%;
  font-family: 'Union-Bold';
  color: rgba(255, 255, 200, 0.8);
  font-size: 8rem;  
}

  @-webkit-keyframes neon2 {
    from {
      box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 70px #fff, 0 0 80px #fff, 0 0 100px #fff, 0 0 150px #fff;
    }
    to {
      box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 35px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 75px #fff;
    }
} 
  /*glow for mozilla*/
  
 
  @-moz-keyframes neon2 {
    from {
      box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 70px #fff, 0 0 80px #fff, 0 0 100px #fff, 0 0 150px #fff;
    }
    to {
      box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 35px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 75px #fff;
    }
  }
  
  
  /*glow*/
  
  
  
  @keyframes neon2 {
    from {
      box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 70px #fff, 0 0 80px #fff, 0 0 100px #fff, 0 0 150px #fff;
    }
    to {
      box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 35px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 75px #fff;
    }
  }
  

  @-webkit-keyframes neon3 {
    from {
      box-shadow: 0 0 10px orangered, 0 0 20px orangered, 0 0 30px orangered, 0 0 40px orangered, 0 0 70px orangered, 0 0 80px orangered, 0 0 100px orangered, 0 0 150px orangered;
    }
    to {
      box-shadow: 0 0 5px orangered, 0 0 10px orangered, 0 0 15px orangered, 0 0 20px orangered, 0 0 35px orangered, 0 0 40px orangered, 0 0 50px orangered, 0 0 75px orangered;
    }
} 
  /*glow for mozilla*/
  
 
  @-moz-keyframes neon3 {
    from {
      box-shadow: 0 0 10px orangered, 0 0 20px orangered, 0 0 30px orangered, 0 0 40px orangered, 0 0 70px orangered, 0 0 80px orangered, 0 0 100px orangered, 0 0 150px orangered;
    }
    to {
      box-shadow: 0 0 5px orangered, 0 0 10px orangered, 0 0 15px orangered, 0 0 20px orangered, 0 0 35px orangered, 0 0 40px orangered, 0 0 50px orangered, 0 0 75px orangered;
    }
  }
  
  
  /*glow*/
  
  
  
  @keyframes neon3 {
    from {
      box-shadow: 0 0 10px orangered, 0 0 20px orangered, 0 0 30px orangered, 0 0 40px orangered, 0 0 70px orangered, 0 0 80px orangered, 0 0 100px orangered, 0 0 150px orangered;
    }
    to {
      box-shadow: 0 0 5px orangered, 0 0 10px orangered, 0 0 15px orangered, 0 0 20px orangered, 0 0 35px orangered, 0 0 40px orangered, 0 0 50px orangered, 0 0 75px orangered;
    }
  }
  

