/*cover*/

@font-face {
  font-family: 'Union-Bold';
  src: local('Union Bold'), local('Union-Bold'),
      url('/assets/Fonts/Union-Bold.woff2') format('woff2'),
      url('/assets/Fonts/Union-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'StolzlDisplay-Medium';
  src: local('Stolzl Display Medium'), local('StolzlDisplay-Medium'),
      url('/assets/Fonts/StolzlDisplay-Medium.woff2') format('woff2'),
      url('/assets/Fonts/StolzlDisplay-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
a{
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}
.titulos_cover{
  width: 100%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: top;
  align-content: space-between;
}
.titulos_cover h1{
  position: fixed; 
  width: 100%;
  height: 10%;
  margin-top: 0;
  font-family: 'StolzlDisplay-Medium';
  width: 100%;
  height: 100%;
  color: rgba(255, 255,255, 0.8);
  text-align: center;
  letter-spacing: -0.5vw;
  font-size:  25vh;
}
.skip{
  position: fixed; 
  width: 100%;
  height: 100%;
  bottom: 0vh;
  margin-bottom: 0;
  font-family: 'Union-Bold';
  display: flex;
  align-items:flex-end;
  justify-content: center; 
  color: rgba(255, 255,255, 0.8);
  letter-spacing: 2vw;
  text-align: center;
  font-size:  5vh;
}
