/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: StolzlDisplay-Medium;
    src: url(Fonts/StolzlDisplay-Medium) format("woff");
}
@font-face {
    font-family: Union-Bold;
    src: url(Fonts/Union-Bold) format("woff");
}


/*main*/
.board {
  display: flex;
  flex-wrap: wrap;
}
.board__button {
  width: 50%;
  height: 50vh;
}
.board__button--red {
    background: black;
    border: 1px solid orangered;
    box-sizing: border-box;
    
}
.board__button--blue {
    background: black;
    border: 1px solid orangered;
    box-sizing: border-box;
}
.board__button--green {
    background: black;
    border: 1px solid orangered;
    box-sizing: border-box;
}
.board__button--yellow {
    background: black;
    border: 1px solid orangered;
    box-sizing: border-box;
}

.gameOver{
    Position: fixed;
    background: #ff5000;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Union-Bold;
    font-size: 20rem;
    line-height: 20rem;   
    letter-spacing: -10px; 
}

.hide{
    display: none!important;
}

/*neon1*/
.board__neon___button {    
    /* -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
    -moz-animation: neon2 1.5s ease-in-out infinite alternate;*/
    animation: neon2 1.5s ease-in-out infinite alternate; 
    background-color: rgba(0,0,0,0.8);
}

.board__neon___button--dos {    
    /* -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
    -moz-animation: neon2 1.5s ease-in-out infinite alternate;*/
    animation: neon3 1.5s ease-in-out infinite alternate; 
    background-color: rgba(0,0,0,0.8);
}

.score{
    position: fixed;
    top: 15px;
    right: 15px;
    width: auto;
    height: auto;
    font-family: Union-Bold;
    color: rgba(255,255,255,0.8);
    font-size: 1rem;
}

  @-webkit-keyframes neon2 {
    from {
      box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 70px #fff, 0 0 80px #fff, 0 0 100px #fff, 0 0 150px #fff;
    }
    to {
      box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 35px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 75px #fff;
    }
} 
  /*glow for mozilla*/
  
 
  @-moz-keyframes neon2 {
    from {
      box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 70px #fff, 0 0 80px #fff, 0 0 100px #fff, 0 0 150px #fff;
    }
    to {
      box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 35px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 75px #fff;
    }
  }
  
  
  /*glow*/
  
  
  
  @keyframes neon2 {
    from {
      box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 70px #fff, 0 0 80px #fff, 0 0 100px #fff, 0 0 150px #fff;
    }
    to {
      box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 35px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 75px #fff;
    }
  }
  

  @-webkit-keyframes neon3 {
    from {
      box-shadow: 0 0 10px orange, 0 0 20px orange, 0 0 30px orange, 0 0 40px orange, 0 0 70px orange, 0 0 80px orange, 0 0 100px orange, 0 0 150px orange;
    }
    to {
      box-shadow: 0 0 5px orange, 0 0 10px orange, 0 0 15px orange, 0 0 20px orange, 0 0 35px orange, 0 0 40px orange, 0 0 50px orange, 0 0 75px orange;
    }
} 
  /*glow for mozilla*/
  
 
  @-moz-keyframes neon3 {
    from {
      box-shadow: 0 0 10px orange, 0 0 20px orange, 0 0 30px orange, 0 0 40px orange, 0 0 70px orange, 0 0 80px orange, 0 0 100px orange, 0 0 150px orange;
    }
    to {
      box-shadow: 0 0 5px orange, 0 0 10px orange, 0 0 15px orange, 0 0 20px orange, 0 0 35px orange, 0 0 40px orange, 0 0 50px orange, 0 0 75px orange;
    }
  }
  
  
  /*glow*/
  
  
  
  @keyframes neon3 {
    from {
      box-shadow: 0 0 10px orange, 0 0 20px orange, 0 0 30px orange, 0 0 40px orange, 0 0 70px orange, 0 0 80px orange, 0 0 100px orange, 0 0 150px orange;
    }
    to {
      box-shadow: 0 0 5px orange, 0 0 10px orange, 0 0 15px orange, 0 0 20px orange, 0 0 35px orange, 0 0 40px orange, 0 0 50px orange, 0 0 75px orange;
    }
  }
  

