@font-face {
	font-family: 'Union-Bold';
	src: local('Union Bold'), local('Union-Bold'), url('/assets/Fonts/Union-Bold.woff2') format('woff2'),
		url('/assets/Fonts/Union-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'StolzlDisplay-Medium';
	src: local('Stolzl Display Medium'), local('StolzlDisplay-Medium'),
		url('/assets/Fonts/StolzlDisplay-Medium.woff2') format('woff2'),
		url('/assets/Fonts/StolzlDisplay-Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
*{
  margin: 0;
}
a {
  text-decoration: none;
}

.container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.element_1 {
  display: flex;
  box-sizing: border-box;
  font-family: 'StolzlDisplay-Medium';
  font-size: 15vh;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 33.33vh;
  background-color:orangered;
	color: rgba(255, 255, 200, 0.8);
	border-bottom: 1px solid  rgba(255, 255, 200, 0.8);
	letter-spacing: -3px;
}
.element_2 {
	display: flex;
  justify-content: center;
  box-sizing: border-box;
	font-family: 'StolzlDisplay-Medium';
  font-size: 15vh;
	align-items: center;
	width: 100vw;
	height: 33.33vh;
  background-color:orangered;
	color: rgba(255, 255, 200, 0.8);
	border-bottom: 1px solid rgba(255, 255, 200, 0.8);
}

.element_3 {
  display: flex;
  box-sizing: border-box;
	justify-content: center;
	align-items: center;
	font-family: 'StolzlDisplay-Medium';
  font-size: 15vh;
	width: 100vw;
	height: 33.33vh;
  background-color:orangered;
	text-align: center;
	color: rgba(255, 255, 200, 0.8);
	border-bottom: 1px solid  rgba(255, 255, 200, 0.8);
}
